<a href="/dashboard-project">&larr;Back</a>
<div class="admin-title">
  <h2>View /Edit Project</h2>
  <form action="/delete-project/<%= data._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete" class="btn-delete btn" />
  </form>
</div>

<form action="/edit-project/<%= data._id %>?_method=PUT" method="post">
  <label for="title"><b>Title</b></label>
  <input
    type="text"
    placeholder="Post Title"          
    name="title" 
    value="<%= data.Project_title %>"
  />

  <label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"><%= data.Project_body %></textarea>

  <input type="submit" value="Update" class="btn" />
</form>
